#flipbook {
    background: #000;
    width: 120vw;   /* 关键：给双页空间 */
    height: 100vh;
}

#flipbook .page {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

#flipbook .page img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}